* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 600px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}





/*
display: flex;
flex-direction: row;
/* items are in a row */
/*
display: flex;
flex-direction: column;
/* items are in a column */
/*
display: flex;
align-items: center;
/* items are centered vertically */
/*
display: flex;
align-items: s;retchl
/* items are bound to top and bottom of page */
/*
display: flex;
align-items: flex-end;
/* items are on bottom of page */
/*
display-flex;
justify-content: flex-start;
/* items are at the left of page*/
/*
display-flex;
justify-content: center;
/* items are at the center of page*/
/*
display-flex;
justify-content: flex-end;
/* items are at the right of page*/
/*
display-flex;
justify-content: space-around;
/*space between elements and ends of page are equal*/
/*
display-flex;
justify-content: space-between;
/*3 items, one far left, one far right, one dead center*/
/*
display-flex;
justify-content; center;
align-items: center;
/*items are in the middle of horizontal and vertical */
/*
display-flex;
justify-content; space-between;
align-items: center;
/*items are in the middle of vertical axis, one far left, one far right, one dead middle*/
/*
display: flex;
flex-direction: column;
/*if adding justify-content or align-items, align-items is in charge of horizontal, justify-content is in charge of vertical*/
/* items are in a column*/