*{
    box-sizing: border-box;
}

.container {
    border: 4px solid grey;
    padding: 10%;
    display: flex;
    justify-content: center;
}

.rectangle {
    border: 3px solid lightgrey;
    height: 30px;
    width: 90%;
    margin-bottom: 10px;
}

.rectangles {
    width: 100%;
    height: 20%;
}

.box {
    border: 3px solid lightgrey;
    height: 100%;
    width: 100%;
}

.box-box {
    width: 50%;
}

.box-tiny {
    border: 3px solid lightgrey;
    width: 20%;
    height: 50px;
}

.tiny-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
}